@import 'tailwindcss';

@variant dark (&:is(.dark *));

:root {
  --checkered-bg: rgba(10, 10, 10, 0.1);
}

@layer utilities {
  .bg-checkerboard {
    background-image:
      linear-gradient(45deg, var(--checkered-bg) 25%, transparent 25%),
      linear-gradient(-45deg, var(--checkered-bg) 25%, transparent 25%),
      linear-gradient(45deg, transparent 75%, var(--checkered-bg) 75%),
      linear-gradient(-45deg, transparent 75%, var(--checkered-bg) 75%);
    background-size: 20px 20px;
    background-position:
      0 0,
      0 10px,
      10px -10px,
      -10px 0px;
  }
}

html {
  line-height: 1.5;
  font-weight: 400;
  font-size: 16px;
  font-family: 'Inter Tight', Helvetica, Arial, sans-serif;
  scrollbar-width: thin;
  scrollbar-color: theme('colors.slate.500') theme('colors.slate.200');
  color-scheme: light dark;
  color: white;
  background-color: #e0f2fe;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  min-height: 100vh;
}

a {
  color: #646cff;
  text-decoration: inherit;
}

a:hover {
  color: #535bf2;
}

::-webkit-scrollbar {
  width: 12px;
}

::-webkit-scrollbar-track {
  background: theme('colors.slate.200');
}

::-webkit-scrollbar-thumb {
  background-color: theme('colors.slate.500');
  border-radius: 20px;
  border: 3px solid theme('colors.slate.200');
}

::-webkit-scrollbar-thumb:hover {
  background-color: theme('colors.slate.600');
}
