.slider-control {
  -webkit-appearance: none !important;
  appearance: none;
  margin: 0;
  background: transparent;
}

.slider-control::-webkit-slider-runnable-track,
.slider-control::-moz-range-track {
  height: 14px;
  background: transparent;
}

.slider-control::-webkit-slider-thumb {
  -webkit-appearance: none !important;
  appearance: none;
  width: 3px;
  height: 14px;
  background: transparent;
}

.slider-control::-moz-range-thumb {
  width: 3px;
  height: 14px;
  border: none;
  background: transparent;
}
